

#test2{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    border: solid;
    border-width: 1px;
    border-color: black;
    background-color: rgb(135, 167, 167);
}
#test{
    background-color: antiquewhite;
}

